<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="productForm">
    <form [formGroup]="productForm">
      <ng-template matStepLabel>Product Information</ng-template>
      <mat-form-field class="full-width">
        <input matInput placeholder="Product Name" 
        formControlName="productName" required>
        <mat-error *ngIf="productForm.controls['productName'].errors?.required">
          Product Name is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>