<div class="pageBoxLg ">
    <label class="pageBoxLg-label ">Add Hot Products
    </label>
    <form [formGroup]="adsForm" novalidate style="padding-top:60px">
      <div class="container-fluid">
        <div class="row">
          <div class="form-group col-md-6">
            <label>Hot Products Images</label>
            <div>
              <img *ngFor="let url of urls" [src]="url" style="width: 280px; height: 245px;" />
            </div>
            <div>
              <input type="file" name="file" class="btn btnPink btn-block" id="file"  (change)="handleFileInput($event.target.files)">
            </div>
  <div *ngIf="showImageNameError">
              Image Name exists
            </div>
          </div>
          <div class="form-group col-md-6">
            <label>Hot Products Details</label>
            <div class="form-group col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Hot Products Position" formControlName="position" >
                <mat-error *ngIf="!adsForm.controls['position'].errors?.required">
                    Enter the valid
                  <strong>Number</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group col-md-12">
              <button mat-raised-button color="accent" type="submit" (click)="addAds()" [disabled]='!adsForm.valid'>Save</button>
              <br>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  